.edit_row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 10px;

  &_title {
    color: var(--black);
  }

  &_input_container {
    display: flex;
  }

  &_input {
    padding: 5px;
    color: var(--black);
    font-size: 15px;
    border-radius: 5px;
    outline: none;
    border: 2px solid var(--black);

    &:focus {
      border: 2px solid var(--main-blue);
    }
  }
}
