---
stylesheets:
- ../../styles/styles.css
---
{{!< container}}
<main class="login">
  <div class="login_header">Вход</div>
  {{> "Input/Input"}}
  {{> "Input/Input"}}
  {{> "Button/Button"}}
  <a class="login_link" href="#">Нет аккаунта ?</a>
</main>
