---
stylesheets:
- ../../styles/styles.css
textBtn: Авторизоваться
---
{{!< container}}
<main class="login">
  <div class="login_header">Вход</div>
  <div class="login_inputs">
    {{> "Input/Input" name="login" placeholder="Логин" type="text"}}
    {{> "Input/Input" name="password" placeholder="Пароль" type="password"}}
  </div>
  {{> "Button/Button"}}
  {{> "Link/Link" url="#" class="login_link" text="Нет аккаунта"}}
</main>
<script src="./script.js"></script>
