.row_info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid #eaeaea;
  margin-top: 20px;

  &_title {
    font-size: 13px;
    color: var(--black);
  }

  &_value {
    font-size: 13px;
    color: var(--black);
  }
}
