.edit_row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 10px;
  &_title {
    color: #1E1E1E;
  }
  &_input_container {
    display: flex;
  }
  &_input {
    padding: 5px;
    color: #1E1E1E;
    font-size: 15px;
    border-radius: 5px;
    outline: none;
    border: 2px solid #1E1E1E;
    &:focus {
      border: 2px solid #3369F3;
    }
  }
}
