.chat_page {
  display: grid;
  grid-template-columns: 25% 75%;
  width: 100%;
  padding: 5px;

  &_left {
    background: var(--dark-white);
    border-radius: 1px solid #eaeaea;
    max-height: 800px;
    padding: 5px;

    &_create {
      display: flex;
      justify-content: center;
    }

    &_profile {
      display: flex;
      justify-content: flex-end;

      &_input {
        display: flex;
        flex-direction: row;
        position: relative;

        input {
          width: 100%;
          border-radius: 4px;
          padding: 10px;
          text-overflow: ellipsis;
          padding-left: 30px;
          border: 2px solid black;
          font-size: 15px;
          background: var(--white);
        }

        img {
          width: 15px;
          position: absolute;
          height: 15px;
          top: 11px;
          left: 10px;
        }
      }

      &_link {
        margin-top: 15px;
        font-size: 17px;
        cursor: pointer;
        text-decoration: none;
        margin-right: 10px;
        margin-bottom: 15px;
        color: var(--gray);
      }
    }

    &_chats {
      overflow-y: scroll;
      max-height: 600px;
    }
  }

  &_right {
    border: 1px solid var(--white);

    &_empty {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      &_message {
        color: var(--gray);
        margin-top: 100px;
      }
    }

    &_chatArea {
      &_header {
        padding: 10px;
        min-height: 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_buttons {
          display: flex;
          flex-direction: row;
        }
      }

      &_messages {
        border-top: 1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;
        height: 550px;
        padding: 10px;
        overflow: scroll;
      }

      &_send {
        margin-top: 20px;
        grid-template-columns: 10% 76% 10%;
        display: grid;
        grid-gap: 2%;
        align-items: center;
      }
    }
  }
}

.chat_main_title {
  margin: 0;
  text-align: center;
}

.active_chat {
  background-color: gainsboro;
}

.chat_page_flex {
  display: grid;
  grid-template-columns: 70% 30%;
}
