.chat_page {
  display: grid;
  grid-template-columns: 25% 75%;
  width: 1000px;
  margin: 20px auto;
  padding: 5px;

  &_left {
    background: var(--dark-white);
    border-radius: 1px solid #eaeaea;
    height: 500px;
    padding: 5px;

    &_profile {
      display: flex;
      justify-content: flex-end;

      &_input {
        display: flex;
        flex-direction: row;
        position: relative;

        input {
          width: 100%;
          border-radius: 4px;
          padding: 10px;
          text-overflow: ellipsis;
          padding-left: 30px;
          border: 2px solid black;
          font-size: 15px;
          background: var(--white);
        }

        img {
          width: 15px;
          position: absolute;
          height: 15px;
          top: 11px;
          left: 10px;
        }
      }

      &_link {
        margin-top: 15px;
        cursor: pointer;
        text-decoration: none;
        margin-right: 10px;
        margin-bottom: 15px;
        color: var(--gray);
      }
    }
  }

  &_right {
    border: 1px solid var(--white);

    &_empty {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      &_message {
        color: var(--gray);
        margin-top: 100px;
      }
    }

    &_chatArea {
      &_header {
        padding: 10px;
        min-height: 10%;
      }

      &_messages {
        border-top: 1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;
        height: 350px;
        padding: 10px;
      }

      &_send {
        margin-top: 10px;
        grid-template-columns: 10% 76% 10%;
        display: grid;
        grid-gap: 2%;
        align-items: center;
      }
    }
  }
}
