---
stylesheets:
- ../../styles/styles.css
---
{{!< container}}
<main class="page_500">
  <div class="fiveHundred_container">
    <div class="fiveHundred_container_title">500</div>
    <div class="fiveHundred_container_text">Мы уже фиксим</div>
    <a href="../Chat/Chat.hbs" class="fiveHundred_container_link">Назад к чатам</a>
  </div>
</main>
