@import "../partials/Button/button.css";
@import "../pages/Login/login.css";
@import "../pages/Registration/Registration.css";
@import "../pages/User/User.css";
@import "../pages/index.css";


* {
  margin: 0;
  box-sizing: 'border-box';
}

html {
  font-family: 'Inter', sans-serif;
}

.root {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
}

