@import "../partials/Button/button.css";
@import "../partials/Input/input.css";
@import "../partials/Avatar/avatar.css";
@import "../partials/Row/row.css";
@import "../partials/EditRow/editRow.css";
@import "../pages/Login/login.css";
@import "../pages/Registration/Registration.css";
@import "../pages/User/User.css";
@import "../pages/EditUser/EditUser.css";
@import "../pages/EditPassword/EditPassword.css";
@import "../pages/404/404.css";
@import "../pages/500/500.css";
@import "../pages/Chat/chat.css";
@import "../pages/index.css";


* {
  margin: 0;
  box-sizing: 'border-box';
}

html {
  font-family: 'Inter', sans-serif;
}

.root {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 0 auto;
}

.color_red {
 color: #FF0000;
}

.color_blue {
  color: #3369F3;
}

