.row_info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid #EAEAEA;
  margin-top: 20px;
  &_title {
    font-size: 13px;
    color: #1E1E1E;
  }
  &_value {
    font-size: 13px;
    color: #1E1E1E;
  }
}
