.app_pages_menu {
  list-style-type: none;
  font-family: 'Inter', sans-serif;
  &_item {
    margin-top: 10px;
    font-size: 20px;
    a {
      text-decoration: none;
      color: black;
      &:hover {
        color: rgb(239, 124, 82);
      }
    }
  }
}
