<head>
  <link href="./index.css" rel="stylesheet" />
</head>
<body>
  <ul class="app_pages_menu">
    <li class="app_pages_menu_item">
      <a href="./Registration/Registration.hbs">Registration</a>
    </li>
    <li class="app_pages_menu_item">
      <a href="./Login/Login.hbs">Login</a>
    </li>
      <li class="app_pages_menu_item">
      <a href="./User/User.hbs">User</a>
    </li>
  </ul>
  <script src="../index.js"></script>
</body>
