---
stylesheets:
- ../../styles/styles.css
avatar: "avatar"
---
{{!< userContainer}}
<div class="user_right">
  <div class="user_right_data">
      <div class="user_right_data_head">
        {{> "Avatar/Avatar"}}
      </div>
      <div class="user_right_data_body">
      </div>
      <div class="user_right_data_footer">
      </div>
  </div>
</div>
