---
stylesheets:
- ../../styles/styles.css
avatar: "avatar"
userData: [
  { title: 'Почта', value: 'yandex', name: 'email' },
  { title: 'Логин', value: 'kirill15', name: 'login' },
  { title: 'Имя', value: 'Кирилл', name: 'first_name' },
  { title: 'Фамилия', value: 'Павловский', name: 'second_name' },
  { title: 'Имя в чате', value: 'kirill', name: 'display_name' },
  { title: 'Телефон', value: '+7 999 111 11 11', name: 'phone' },
]
textBtn: Сохранить
editableAvatar: true
---
{{!< userContainer}}
<div class="user_right">
  <div class="user_right_data">
    <div class="user_right_data_head">
      {{> "Avatar/Avatar" editableAvatar=editableAvatar}}
    </div>
    <div class="user_right_data_body">
      {{#each userData}}
        {{> "EditRow/EditRow"}}
      {{/each}}
    </div>
    <div class="edit_user_footer">
      {{> "Button/Button"}}
    </div>
  </div>
</div>
