.clip_input {
  display: none;
  cursor: pointer;
}

.clip_icon {
 background-image: url('../../assets/clip.png');
 background-repeat: no-repeat;
 background-size: auto;
 margin-left: 10px;
 display: block;
 width: 32px;
 height: 32px;
 cursor: pointer
}
