{{!-- TODO dynamic src for avatar --}}
<div class="avatar_container">
  <img
    {{#if editableAvatar}}
    class="editable_avatar"
    {{else}}
    class="nonEditable_avatar"
    {{/if}}
    src="../../assets/tg.png"
    alt="avatar"
  />
</div>
