---
stylesheets:
- ../../styles/styles.css
---
{{!< container}}
<main class="page_404">
  <div class="fourOfour_container">
    <div class="fourOfour_container_title">404</div>
    <div class="fourOfour_container_text">Не туда попали</div>
    <a href="#" class="fourOfour_container_link">Назад к чатам</a>
  </div>
</main>
