---
stylesheets:
- ../../styles/styles.css
---
{{!< container}}
<main class="page_404">
  <div class="fourOfour_container">
    <h1 class="fourOfour_container_title">404</h1>
    <h2 class="fourOfour_container_text">Не туда попали</h2>
    <a href="../Chat/Chat.hbs" class="fourOfour_container_link">Назад к чатам</a>
  </div>
</main>
