.change_avatar {
  margin-left: 10px;
}

.change_modal_input {
  display: none;
}

.change_modal_wrapper {
  width: 100%;
  padding: 10px;
  border: 2px dashed black;
  cursor: pointer;
}

.change_modal_label {
  text-align: center;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}
