.main_link {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: var(--main-blue);
  margin-top: 15px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.main_link_red {
  color: #FF0000;
}
