<div class="form__group field">
  <input type={{type}} class="form__field" name={{name}} placeholder={{placeholder}} id='custom_input'/>
  <label for="custom_input" class="form__label">{{placeholder}}</label>
</div>

