<div class="form__group field">
  <input type="input" class="form__field" name="custom_input" placeholder={{placeholder}} id='custom_input' />
  <label for="custom_input" class="form__label">{{placeholder}}</label>
</div>

